body{
  background-image: linear-gradient(to right, violet, cyan, blue);
  margin: 0;
  padding: 0;
}
form{
  background-color: gray;
  display: grid;
  margin: 20px;
  border: 1px solid tomato;
  width: 500px;
  margin-left: 37%;
}
form input{
  padding: 10px 20px;
  width: 450px;
  margin: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px 7px;
}
.fun{
  padding: 10px 10px;
  background-color: green;
  margin: 10px;
  border-radius: 7px;
  color: white;
}
.card button{
  background-color: red;
  width: 90px;
  margin-left: 43%;
  border-radius: 7px;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bttn{
  justify-content: center;
  width: 100px;
}