body{
  background-image: linear-gradient(to right, rgb(31, 64, 55), rgb(153, 242, 200));
  margin: 0;
  padding: 0;
}
form{
  background-color: gray;
  display: grid;
  margin: 20px;
  border: 1px solid tomato;
  width: 500px;
}
form input{
  padding: 10px 20px;
  width: 450px;
  margin: 15px;
  display: flex;
  justify-content: center;
  border-radius: 5px 7px;
}
.fun{
  padding: 10px 10px;
  background-color: green;
  margin: 10px;
  border-radius: 7px;
  color: white;
}
.pupil button{
  background-color: red;
  width: 100%;
  border-radius: 7px;
  color: white;
}
.bttn{
  justify-content: center;
  width: 100px;
}
.pupil{
  border: 2px solid;
  width: 100%;
  border-radius: 5px;
  margin: 20px;
  background-color: teal;
  color: white;
  justify-content: center;
}
.pupil:hover{
  cursor: crosshair;
  background-color: royalblue;
  border-right: 10px solid green;
}